* {
  margin: 0;
  padding: 0;
}
html,
body,
#app,
.app-container {
  height: 100%;
}

@import "@/components/style.scss";

.app-container {
  padding: 50px;
  box-sizing: border-box;
  .react-toggle {
    background: #eee;
    border: 1px solid #f60;
    width: 40px;
    height: 40px;
    display: inline-block;
    &[data-value="true"] {
      background: #f00;
    }
    &[data-value="false"] {
    }
  }
  .button {
    background: #3cc51f;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #fff;
    padding: 20px;
    border: none;

    &:active {
      background: darken(#3cc51f, 10%);
    }

    &:focus {
      outline: none;
    }
  }
}
